
@charset "utf-8";
/* CSS Document */
label {
	display: block;
	margin-top: 15px;
	width: 15%;
	text-align: left;
	float: left;
	margin-left: 1%;
}
.formulario {
	display: block;
	width: 100%;
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 1.3em;
	height: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 0px;
	float: left;
}
form {
	width: 100%;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	float: left;
}
 
input, textarea {
	width: 36.8%;
	height: 20px;
	margin-top: 5px;
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 11pt;
	border: thin dashed #999999;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
 
textarea {
	height: 90px;
	width: 100%;
	background-color: #FFF;
	float: left;
}
 
#submit {
	width: 99.9%;
	height: auto;
	margin-top: 5px;
	cursor: pointer;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #999;
	margin-right: 0%;
	margin-left: 0%;
	border: thin dashed #999;
	background-color: #FFF;
}
@media only screen and (max-width: 1920px) {
label {
	display: block;
	margin-top: 15px;
	width: 12%;
	text-align: left;
	float: left;
	margin-left: 1%;
}
input, textarea {
	width: 36.8%;
	height: 20px;
	margin-top: 5px;
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 11pt;
	border: thin dashed #999999;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}	
textarea {
	height: 90px;
	width: 100%;
	background-color: #FFF;
	float: left;
}

}	
@media only screen and (max-width: 1680px) {
label {
	display: block;
	margin-top: 15px;
	width: 15%;
	text-align: left;
	float: left;
	margin-left: 1%;
}
input, textarea {
	width: 33.8%;
	height: 20px;
	margin-top: 5px;
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 11pt;
	border: thin dashed #999999;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}	
textarea {
	height: 90px;
	width: 99.8%;
	background-color: #FFF;
	float: left;
}
}
@media only screen and (max-width: 1440px) {
label {
	display: block;
	margin-top: 15px;
	width: 18%;
	text-align: left;
	float: left;
	margin-left: 1%;
}
 
input, textarea {
	width: 30.7%;
	height: 20px;
	margin-top: 5px;
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 11pt;
	border: thin dashed #999999;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
textarea {
	height: 90px;
	float: left;
	width: 99.8%;
	margin: 0px;
	padding: 0px;
}	



}	
@media only screen and (max-width: 1366px) {
label {
	display: block;
	margin-top: 15px;
	width: 18%;
	text-align: left;
	float: left;
	margin-left: 1%;
}
 
input, textarea {
	width: 30.7%;
	height: 20px;
	margin-top: 5px;
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 11pt;
	border: thin dashed #999999;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
textarea {
	height: 90px;
	float: left;
	width: 99.8%;
	margin: 0px;
	padding: 0px;
}	
	
}	
@media only screen and (max-width: 1024px) {
	.formulario {
	display: block;
	width: 100%;
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 1.2em;
	height: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 0px;
	float: left;
}
label {
	display: block;
	margin-top: 15px;
	width: 20%;
	text-align: left;
	float: left;
	margin-left: 1%;
}
 
input, textarea {
	width: 28.7%;
	height: 20px;
	margin-top: 5px;
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 11pt;
	border: thin dashed #999999;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
textarea {
	height: 90px;
	float: left;
	width: 99.8%;
	margin: 0px;
	padding: 0px;
}

}
@media only screen and (max-width: 768px) {
	.formulario {
	display: block;
	width: 100%;
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 1.1em;
	height: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 0px;
	float: left;
}	
label {
	display: block;
	margin-top: 15px;
	width: 100%;
	text-align: center;
	float: left;
	margin-left: 0%;
}
 
input, textarea {
	width: 99.5%;
	height: 20px;
	margin-top: 5px;
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 11pt;
	border: thin dashed #999999;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}
textarea {
	height: 90px;
	float: left;
	width: 99.8%;
	margin: 0px;
	padding: 0px;
}

}
@media only screen and (max-width: 480px) {

	.formulario {
	display: block;
	width: 100%;
	font-family: "roboto_condensedlight", sans-serif;
	color: #999999;
	font-size: 1.1em;
	height: auto;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: 0px;
	float: left;
	padding: 0px;
}
}

@media only screen and (max-width: 320px) {


}
